<div class="login-page">
  <div class="overlay"></div>




  <div class="login-card">
    <div class="logo m-auto">
      <img src="assets/logoo.png" class="m-auto" alt="Doctor Logo" />
    </div>

    <h2>Login</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <!-- Username -->
      <div class="input-group">
        <span class="input-icon"><i class="user-icon"></i></span>
        <input type="text" formControlName="username" placeholder="Username" />
      </div>
      <div class="validation-error" *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.invalid">
        Username is required.
      </div>

      <!-- Password -->
      <div class="input-group">
        <span class="input-icon"><i class="lock-icon"></i></span>
        <input type="password" formControlName="password" placeholder="Password" />
      </div>
      <div class="validation-error" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
        Password is required.
      </div>

      <!-- Submit -->
      <button type="submit" class="sign-in-btn">SIGN IN</button>

      <!-- Error message -->
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

      <!-- Links -->
      <div class="forgot-password">
        <a routerLink="/forgot-password">Forgot Password?</a>
      </div>
    </form>

    <div class="sign-up">
      <p>Not Registered? <a routerLink="/signup">Sign up</a></p>
    </div>
  </div>
</div>
