textarea {
  resize: vertical;
}
.container {
  background-color: #f0f6ff; 
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
  }
  .field.is-grouped {
    justify-content: space-between;
    gap: 1rem; /* space between buttons */
  }
  