<div class="forgot-page">
  <div class="overlay"></div>




  <div class="form-card">
    <h2>Forgot Password</h2>

    <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
      <!-- Email -->
      <input type="email" formControlName="email" placeholder="Enter your registered email" />
      <div *ngIf="forgotForm.get('email')?.touched && forgotForm.get('email')?.invalid" class="error">
        Enter a valid email.
      </div>

      <button type="submit">Reset Password</button>
    </form>

    <div class="success" *ngIf="successMessage">{{ successMessage }}</div>
    <div class="error" *ngIf="errorMessage">{{ errorMessage }}</div>

    <p class="switch-link">Remembered your password? <a routerLink="/">Login</a></p>
  </div>
</div>
